<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/41cf0615-e1a7-4fc7-8db9-a3c190a51426/resourceGroups/ride_fix_bro_api_ind/providers/Microsoft.ApiManagement/service/RideFixBroAPIapi/apis/RideFixBroAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/41cf0615-e1a7-4fc7-8db9-a3c190a51426/resourcegroups/ride_fix_bro_api_ind/providers/Microsoft.Web/sites/RideFixBroAPI</ResourceId>
    <ResourceGroup>ride_fix_bro_api_ind</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ridefixbroapi-cug3baevbedrfeh6.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4a13a91d-e862-937c-007d-df2776e40b96</ProjectGuid>
    <PublishUrl>https://ridefixbroapi-cug3baevbedrfeh6.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>